/* For displaying the form in a box with light outline */
div.main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 90px;
    align-items: center;
    
    text-align: center;
}

div.centeredElement {
    width: 500px;
    display: flex;
    justify-content: center;
    border: 1px solid #e6e2e2;
    border-radius:20px
}

div.auth {
    width: 65%;
}
/* <a> styles */
a{
    text-decoration: none !important;
}

a.forgetPassword{
    color:#004dbe
}
a.notYou{
    display: block;
    margin-bottom: 54px;
}
/* For curved buttons */
button.btn {
    border-radius: 20px;
}
/* Login button */
button.logIn{
    width:60%
}
/* password icon */

#basic-addon1{
    background-color: white;
    border-right:none
    }
    TextField:focus, input:focus{
        outline: none;
    }
/* checkbox style */
form div.checkbox{
    padding:0px;
}
form #inline-checkbox{
    margin-right: -5px;

}
Form.form{
    display: flex;
    justify-content:space-between
}

/* error msg */
span.errorMsg{
    font-size:13px
}
/* Extra small devices (phones, 670px and down) */
@media only screen and (max-width: 670px) {
    /* To decrease the padding around the main div */
    div.main { padding : 20px !important; }

    Form.form{
        flex-direction: column;
    }
    
}