.about__title {
   height: 200px;
   background-color: var(--primary);
}
.about__img {
   height: 593px;
   object-fit: cover;
}
.about__img img{
   height: 75%;
   width:75%;
}
ul.about__list li {
   list-style-type: circle;
   list-style-position: inside;
   margin: 0;
   padding: 0;
}

.aboutimgParent {
   overflow: hidden;
}

.about__img:hover {
   transform: scale(1.05);
}
