/* Add class Parent to images */
img.img__review {
  height: 78vh;
  object-fit: cover;
  /* filter: brightness(60%); */
}
.bottom-left {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 80px;
  position: absolute;
  width: 100%;
  bottom: 80px;
  left: 80px;
}
